<section class="map-band">
  <div id="map"></div>
  <div class="map-copy">
    <span id="selectedDistrict">Portugal continental</span>
    <strong id="selectedRisk">A carregar...</strong>
    <p id="selectedDetails">Clique num marcador para filtrar os gráficos por distrito.</p>
  </div>
</section>
